:root{
    --gradient:hsla(0, 0%, 6%, 0.5);
    --box:#31454b91;
    --circle: #6D797C;
}
html{
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(var(--gradient), var(--gradient)),url(../Images/About\ background.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: hsla(0, 0%, 9%, 0.588);
    font-family: Sen;
    color: white;
    width: 85%;
    margin: 3em auto 0px auto;

}
nav{
    display: grid;
    grid-template-columns: 10% 10% 80%;
    margin-bottom: 2.5em;
}
nav img{
    height: 80%;
}
.navbar{
    display: flex;
    justify-content: space;
    flex-direction: row-reverse;
    
}
.navbar ul{
    min-width: 50%; 
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: white;
}
.navbar li:hover{
    text-decoration: underline;
    transform: scale(1.015);
    cursor: pointer;
    transition: 0.8s;
}
.content{
    display: grid;
    grid-template-columns: 35% 40%;
    justify-content: space-between;
}
/* Left part of the page */
.left{
    display: grid;
    grid-template-rows:auto 10% auto 10% auto;
}
.text > p{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
}

.ceo h1{
    font-size: 1.6em;
}
.quote{
    border-left: 6px solid white;
}
.quote .parent{
    padding: 10px 0px 10px 20px;
}
.quote .spacingdiv{
    height: 10px;
}
.quote div{
    font-size: 20px;
    font-weight: 400;
}

.connect .text{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.connect input{
    padding: 0.5em 3em;
    background-color: #31454B;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}
.connect input:hover{
    box-shadow: 3px 4px 6px #3b658c;
    transform: scale(1.025);
}


/* Right part of the page */
.right h2{
    margin-top: 0px;
    
}
.container{
    display:grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: auto 15% auto;
    justify-content: space-between;
    align-items: space-between;
}
.right .heading{
    margin-bottom: 40px;
}
/* getting that box with the circle on top numbering done */
.outer{
    position: relative;
}
.box{
    background-color: var(--box);
    padding: 20px 10px 20px 5px;
}
.box .topic{
    height: 40px;
}

.circle{
    border: 1px;
    display:inline-block;
    border-radius: 100%;
    padding: 0.8em 1.2em;
    background-color: var(--circle);
    position:absolute;
    top: -20px;
    color:black;
    font-weight: bold;
    opacity: 0.9;
}

